$primary-color: #01a982;
$subtle-color: rgba(4, 4, 4, 0.5);
$error-color:#FF5722;
html {
    height: 100%;
    width: 100%;
    * {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }
    body {
      .test-bg{
    background-color: rgba(4, 4, 4, 0.09);
      }
        .test-g {
            background-color: #01a982;
            border: 1px solid rgba(4, 4, 4, 0.2);
        }
        .test-v {
            background-color: #614767;
            border: 1px solid rgba(4, 4, 4, 0.2);
        }
        .border-only{
          border: 1px solid rgba(4, 4, 4, 0.2);
        }
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif;
        >div#root {
            height: 100%;
            width: 100%;
            >div.login-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                >div.login-paper {
                    border-radius: 10px !important;
                    position: relative;
                    display: flex !important;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    overflow: hidden;
                    width: 30%;
                    height: 60%;
                    >div.head {
                        min-height: 20%;
                        flex: 0 1 auto;
                        margin: 5% 0 5% 0;
                        border-left: 4px solid $primary-color;
                        >h1 {
                            margin: 0;
                            font-size: 180%;
                            width: 100%;
                            font-weight: normal;
                            padding: 3% 0 3% 5%;
                            color: $primary-color;
                        }
                        >span {
                            font-size: 90%;
                            color: $subtle-color;
                            padding: 3% 0 3% 5%;
                            width: 100%;
                        }
                    }
                    >form.login-form {
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: flex-start;
                        flex: 1 1 auto;
                        padding: 0% 5%;
                        position: relative;
                        >.input {
                            width: 100% !important;
                        }
                        >div.error-msg {
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            flex: 0 1 auto;
                            min-height: 3vw;
                            width: 100%;
                            >span {
                                color: $error-color;
                                font-size: 1vw;
                                text-align: center;
                                margin: auto;
                            }
                        }
                        >.form-btn {
                            margin-top: 0% !important;
                        }
                    }
                }
            }
        }
    }
}