$primary-color: #01a982;
$subtle-color: rgba(4, 4, 4, 0.5);
$error-color:#FF5722;
div.master-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(4, 4, 4, 0.02);
    >div.head {
        background-color: $primary-color;
        min-height: 25%;
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        >div.toolbar {
            flex: 0 0 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            min-height: 50%;
            >div.search-bar {
                flex: 0 1 20%;
                margin-right: 2%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid white;
                min-height: 40%;
                height: 35%;
                padding-top: 0.75%;
                .text-icon {
                    flex: 0 0 10%;
                    fill: white !important;
                    height: 50% !important;
                    margin-top: 1%;
                }
                .main-search-input {
                    flex: 1 0 10%;
                    margin-top: 2%;
                    padding-left: 2%;
                    >div {
                        font-size: 120% !important;
                        font-weight: normal !important;
                        color: rgba(255, 255, 255, 0.8) !important;
                    }
                    input {
                        color: white !important;
                        font-size: 120% !important;
                    }
                }
            }
            >div.title {
                flex: 0 1 20%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    color: white; // margin:auto;
                    font-size: 200%;
                }
            }
        }
        >div.avatar {
            position: relative;
            flex: 1 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            >div.profile {
                flex: 0 0 20%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                >div.details {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 60% !important;
                    height:30%;
                    z-index: 4;
                    padding-left: 2%;
                    margin-left: 2% !important;
                    background-color: transparent !important;
                    span.title {
                        color: rgba(255, 255, 255, 0.9) !important;
                        font-size: 120%;
                        flex:1 0 auto;
                    }
                    span.subtitle{
                        color: rgba(255, 255, 255, 0.7) !important;
                        flex:1 0 auto;
                        font-size:90%;
                    }
                }
                >div.badge {
                    height: 50px;
                    z-index: 5;
                    width: 50px;
                    background-color: transparent !important;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    svg {
                        height: 50% !important;
                        width: 50% !important;
                        fill: rgba(255, 255, 255, 0.7) !important;
                    }
                }
            }
        }
    }
    >div.body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        >div.sidebar {
            min-width: 20%;
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            >div.head {
                flex: 0 0 5%;
            }
            >div {
                flex: 1 0 auto;
                width: 100% !important;
                >div.menulist {
                    border-top: 0.5px solid rgba(4, 4, 4, 0.2);
                    padding: 0 !important;
                    .itm {
                        width: 100.5% !important; // border-radius:0 5px 5px 0;
                        border-left: 5px solid transparent !important;
                        color: rgba(4, 4, 4, 0.8) !important;
                        font-size: 90% !important;
                        svg {
                            fill: $primary-color !important;
                        }
                    }
                    .itm.active {
                        border-left: 5px solid $primary-color !important;
                        color: $primary-color !important;
                        font-weight: bold !important;
                    }
                }
            }
        }
        >div.content {
            border-radius: 1%;
            position: absolute;
            left: 20%;
            width: 78%;
            height: 89.5%;
            top: 10%;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            >div{
                flex: 1 0;
            }
        }
    }
}